*.nix text eol=lf
*.sh text eol=lf
Dockerfile text eol=lf
.vimrc text eol=lf
gradlew text eol=lf
apps/node/** text=auto eol=lf
apps/fsharp/** text=auto eol=lf
apps/csharp/** text=auto eol=lf
apps/go/** text=auto eol=lf
apps/rust/** text=auto eol=lf
apps/ruby/** text=auto eol=lf
apps/clojure/** text=auto eol=lf
apps/elixir/** text=auto eol=lf
apps/php/** text=auto eol=lf
