{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/data.csv {:mvn/version "1.1.0"}
        org.tribuo/tribuo-classification-tree {:mvn/version "4.3.2"}
        org.tribuo/tribuo-classification-sgd {:mvn/version "4.3.2"}
        org.tribuo/tribuo-regression-slm {:mvn/version "4.3.2"}
        ;; 第 15 章: 予測 API（Ring と Jetty、JSON は Cheshire）
        ring/ring-jetty-adapter {:mvn/version "1.12.2"}
        cheshire/cheshire {:mvn/version "5.13.0"}}
 :aliases
 {;; テスト: clojure -M:test
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  ;; カバレッジ: clojure -M:coverage（:paths に test を含めないと落ちる）
  :coverage {:extra-paths ["test"]
             :extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
             :main-opts ["-m" "cloverage.coverage" "-p" "src" "-s" "test" "--text"]}
  ;; 章を選んで実行: clojure -M:run chapter01
  :run {:main-opts ["-m" "getting-started-ml.main"]}}}
